/* Fuente Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b2d42ff;
  color: #edf2f4ff;
  font-family: "Lato", sans-serif;
  max-width: 100%;
}

header {
  background: #2b2d42ff;
  width: 100%;
  height: 120px;
}

.sectionclass {
  width: 100%;
  padding: 15px;
}

.logo {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  max-width: 100%;
  padding: 15px;
}

.barranav {
  background: #2b2d42ff;
  display: flex;
  width: 100%;
  justify-content: right;
  list-style: none;
  align-items: center;
}

.menu {
  display: flex;
  padding: 25px;
}

nav ul :hover {
  background-color: #ef233cff;
}

hr {
  border: 2px solid #ef233cff;
  background-color: #ef233cff;
  max-width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #f9fafb;
}
